{% extends "base.html.twig" %}

{% block body %}
    <div class="row my-2 p-2 bg-danger text-light" role="alert">
        <div class="col text-left align-middle mt-1">
            </strong>{{ job.project.description }}</strong> for branch <strong>{{ job.branch }}</strong>
        </div>
        <div class="col text-right">
            <a href="{{ path('job_delete', {'id': job.id}) }}" role="button" class="btn btn-dark">Delete</a>
        </div>
    </div>

    <hr>

    <canvas id="errorsChart" width="400" height="100"></canvas>

    <hr>

    {% for task in job.tasks %}
        <div class="row my-2 p-2 bg-dark text-light" role="alert">
            <a class="alert-link" data-toggle="collapse" href="#collapseTask{{ task.id }}" role="button" aria-expanded="false" aria-controls="collapseTask{{ task.id }}">
                {{ task.tool }}
            </a>
        </div>

        <div class="collapse" id="collapseTask{{ task.id }}">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Started</th>
                    <th scope="col">Finished</th>
                    <th scope="col">Exit Code</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.status }}</td>
                        <td>{{ task.startedAt }}</td>
                        <td>{{ task.finishedAt }}</td>
                        <td>{{ task.exitCode }}</td>
                    </tr>
                </tbody>
            </table>

            {% if task.output %}
                <h3>Output</h3>
                <code id="output{{ task.id }}">{{ task.output }}</code>

                <hr>
            {% endif %}

            {% if task.errorOutput %}
                <h3>Errors</h3>
                <code id="errors{{ task.id }}">{{ task.errorOutput }}</code>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{%block javascripts %}
<script>
    $(function() {
        var ctx = document.getElementById('errorsChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ aggregator.labels|json_encode|raw }},
                datasets: [{
                    label: '# of Errors',
                    data: {{ aggregator.errors|json_encode|raw }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>

<script>
    $(function() {
        {% for task in job.tasks %}
            try {
                var output{{ task.id }} = JSON.parse('{{ task.output|raw }}');
                $('output{{ task.id }}').jsonViewer(output{{ task.id }});
            } catch (e) {
                console.log(e);
            }

            try {
                var errors{{ task.id }} = JSON.parse('{{ task.errorOutput|raw }}');
                $('errors{{ task.id }}').jsonViewer(errors{{ task.id }});
            } catch (e) {
                console.log(e);
            }
        {% endfor %}
    });
<script>
{% endblock %}
