{% extends "base.html.twig" %}

{% block body %}
    {% for project in projects %}
        <div class="row my-2 py-2 bg-danger text-light" role="alert">
            <div class="col text-left align-middle mt-1">
                <a class="text-white" data-toggle="collapse" href="#project{{ project.id }}" aria-expanded="false" aria-controls="project{{ project.id }}">
                    {{ project.description }}
                </a>
            </div>

            <div class="col text-right">
                <a role="button" class="btn btn-dark btn-sm" href="{{ path('project_delete', {'id': project.id}) }}">Delete</a>
            </div>
        </div>

        <div class="collapse" id="project{{ project.id }}">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Repo</th>
                        <th scope="col">Private</th>
                        <th scope="col">Created by</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project.repo }}</td>
                        <td>{{ project.isPrivate }}</td>
                        <td>{{ project.createdBy.username }}</td>
                        <td>{{ project.createdAt }}</td>
                    </tr>
                </tbody>
            </table>

            {% if project.jobs | length > 0 %}
                {% for job in project.jobs %}
                    <div class="row my-2 mx-1 p-2 bg-success">
                        <div class="col-9 mt-1 mx-0 px-2">
                            branch <strong>{{ job.branch }}</strong> with a status of <strong>{{ job.status }}</strong>
                        </div>

                        <div class="col-3 btn-group mx-0 px-2" role="group" aria-label="job actions">
                            <a href="{{ path('job_view', {'id': job.id}) }}" role="button" class="btn btn-secondary btn-sm">Details</a>
                            <a href="#" role="button" class="btn btn-secondary btn-sm">Re-Submit</a>
                            <a href="{{ path('job_delete', {'id': job.id}) }}" role="button" class="btn btn-danger btn-sm">Delete</a>
                        </div>

                        {% for task in job.tasks %}
                            <div class="col-6 mt-2 mb-0 mx-0 py-2 px-0 bg-primary">
                                <span class="px-3 mt-1">tool <strong>{{ task.tool }}</strong> with a status of <strong>{{ task.status }}</strong></span>
                                <div class="btn-group mx-3 float-right" role="group" aria-label="task actions">
                                    <a href="{{ path('task_delete', {'id': task.id}) }}" role="button" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <p role="alert" class="alert alert-danger">No projects.</p>
    {% endfor %}

    <hr>

    {% if pagination %}
    <nav aria-label="pagination of projects">
        <ul class="pagination justify-content-end">
            <li class="page-item {% if pagination["hydra:previous"] is not defined %}disabled{% endif %}">
                <a class="page-link" href="{% if pagination["hydra:previous"] is defined %}{{ pagination["hydra:previous"] }}{% else %}#{% endif %}" {% if pagination["hydra:next"] is not defined %}tabindex="-1" aria-disabled="true"{% endif %}>Previous</a>
            </li>
            <li class="page-item {% if pagination["hydra:next"] is not defined %}disabled{% endif %}">
                <a class="page-link" href="{% if pagination["hydra:next"] is defined %}{{ pagination["hydra:next"] }}{% else %}#{% endif %}" {% if pagination["hydra:next"] is not defined %}tabindex="-1" aria-disabled="true"{% endif %}>Next</a>
            </li>
        </ul>
    </nav>
    
    <hr>
    {% endif %}

    <div class="form-group">
        <a href="{{ path('project_new') }}" role="button" class="btn btn-primary">New</a>
    </div>
{% endblock %}
