{% extends "base.html.twig" %}

{% block body %}
    {% for repo in app.flashes('repo') %}
        <div class="alert">
            <strong>Job submitted</strong>

            <p>A gang of chimps will now nalyse the repo <strong>{{ repo }}</strong>!</p>

            <p>They will let you know when the task is complete. Expect an e-mail soon.</p>
        </div>
    {% else %}
        {{ form_start(form) }}

        {{ form_row(form.repo) }}
        {{ form_row(form.branch) }}

        <hr>

        {{ form_row(form.description, {'label': 'Description'}) }}

        <hr>

        <h3>Tasks</h3>
        <div class="row">
            {% if form.tasks.vars.errors|length %}
            <div class="col-sm-12 my-2 alert alert-danger" role="alert">
                {{ form_errors(form.tasks) }}
            </div>
            {% endif %}
            {% set taskGroup = null %}
            {% for taskType in form.tasks %}
                {% set task = taskFactory.createTask(taskType.vars.value) %}
                {% if taskGroup != task.group or loop.first %}
                    <div class="col-sm-12 my-2 py-3 bg-danger text-light" role="alert">{{ task.group }}</div>
                {% endif %}
                <div class="col-sm-6 my-1">
                    <div class="card bg-light">
                        <div class="card-header text-dark">{{ task.label }}</div>
                        <div class="card-body bg-dark-blue">
                            <p class="card-text text-black-50">{{ task.description }}</p>
                            <p class="card-text text-dark">
                                <code>{{ task.command }}</code>
                            </p>
                            {{ form_widget(taskType, {'label_attr': {'class': 'text-dark'}}) }}
                        </div>
                    </div>
                </div>
                {% set taskGroup = task.group %}
            {% endfor %}
        </div>

        <hr>

        {{ form_row(form.save) }}

        {{ form_end(form) }}
    {% endfor %}
{% endblock %}
